<ion-header>
        <ion-navbar>
            <ion-title>Update Group</ion-title>
            <ion-buttons end>
                <button ion-button icon-only (click)="dismiss()">
                    <ion-icon name="close-circle"></ion-icon>
                </button>
            </ion-buttons>
        </ion-navbar>
    </ion-header>
    <ion-content>
     
        <form [formGroup]="groupForm">

            <ion-item>
                    <ion-label fixed fixed style="min-width: 50% !important;">Group Name</ion-label>
                    <ion-input formControlName="group_name" type="text"></ion-input>
           </ion-item>
           

           <ion-item>
                <ion-label >Group Status*</ion-label>
                <ion-select formControlName="status" style="min-width:50%;">
                    <ion-option *ngFor="let statusname of GroupStatus" [value]="statusname.value">{{statusname.name}}</ion-option>
                </ion-select>
            </ion-item>
    
      
    </form>
    <!-- <button ion-button block (click)="AddGroup()">ADD</button> -->
        
    </ion-content>
    <ion-footer class="footSty">
    
            <ion-toolbar>
                <ion-row no-padding>
                    <ion-col width-50 style="text-align: center;">
                        <button ion-button clear color="light" (click)="UpdateGroup()">UPDATE</button>
                    </ion-col>
                </ion-row>
            </ion-toolbar>
        </ion-footer>